@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.logo {
  font-family: 'Bangers', cursive;
}
.err {
  color: red;
}
.container-p {
  height: 16vh;
  background-color: rgb(255, 166, 0);
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredoka One', cursive;
  max-width: 700px;
  min-width: 200px;
}
.btn-res {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1%;
  margin: 5px;
  transition: 0.3s linear;
}
.btn-res:hover {
  color: white;
  border: 1px solid white;
}
.per-title {
  margin: 5px;
  color: white;
}
.ask {
  height: 6%;
  width: max-content;
  padding: 2px;
  position: absolute;
  bottom: 3%;
  right: 5px;
  background-color: green;
  border-radius: 20%;
  color: black;
  transition: 0.5s;
}
.ask:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.icon-ask {
  height: 100%;
  width: 100%;
}
.container {
  justify-content: center;
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.t-container {
  height: 16vh;
  width: 90vw;
  background-color: rgb(255, 166, 0);
  border-radius: 10px 10px 0 0;
  margin: 1%;
  font-family: 'Fredoka One', cursive;
  display: grid;
  place-items: center;
  margin-bottom: 0;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#text-area-r {
  padding: 2px;
  height: 30vh;
  width: 90vw;
  background-color: rgb(224, 216, 205);
  border-radius: 0px 0px 10px 10px;
  outline: none;
  border: none;
}
#text-area-r:focus {
  border: 1px solid rgb(255, 166, 0);
}
.resposta-screen {
  background-color: rgb(81, 81, 218);
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  min-width: 20%;
  width: fit-content;
  padding: 0.7%;
  margin: 1%;
}
.thank {
  margin: 0px;
  color: white;
}
p {
  margin: 0;
}
.back {
  position: absolute;
  top: 10%;
  left: -1.5%;
  height: 7%;
  width: 7%;
}
.btn-sendRes {
  width: auto;
  border: none;
  background-color: green;
  padding: 2px;
  border-radius: 0 0 10px 10px;
  width: 10%;
  min-width: fit-content;
}
.no-res {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.triste-svg {
  margin: 1%;
  height: 30vh;
}