@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.home-img {
  width: 100%;
  height: 100%;
}
.img-container {
  width: 40%;
  height: 100%;
}
.flex-home {
  display: flex;
  height: 100%;
}
.form-home {
  width: 60%;
  min-height: 100%;
  display: grid;
  place-items: center;
}
.input {
  border: 1px solid orange;
  border-radius: 4px;
  height: 9%;
  padding: 1%;
  margin: 1%;
}
.input:focus {
  outline: none;
  border: 1px solid blue;
}
.btn-entrar {
  margin: 2%;
  width: 30%;
  height: 10%;
  padding: 1%;
  border-radius: 4px;
  background-color: orange;
  border: none;
  box-shadow: 1px 1px, -1px 1px rgb(255, 166, 0);
}
.btn-entrar:active {
  box-shadow: none;
}
hr {
  width: 10%;
  border-color: rgb(255, 166, 0);
  margin-bottom: 5%;
}
.flex-form {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}
.h1-home {
  position: absolute;
  top: 1%;
  left: 50%;
  font-family: 'Fredoka One', cursive;
}
.facaL {
  font-family: 'Advent Pro', sans-serif;
}
.err {
  color: red;
}
nav {
  height: 10%;
}
.container-p {
  height: 16vh;
  background-color: rgb(255, 166, 0);
  border-radius: 10px;
  margin: 5px;
  font-family: 'Fredoka One', cursive;
  max-width: 700px;
  min-width: 200px;
}
.btn-res {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1%;
  margin: 5px;
  transition: 0.3s linear;
}
.btn-res:hover {
  color: white;
  border: 1px solid white;
}
.per-title {
  margin: 5px;
  color: white;
}
.ask {
  height: 6%;
  width: max-content;
  padding: 2px;
  position: absolute;
  bottom: 3%;
  right: 5px;
  background-color: green;
  border-radius: 20%;
  transition: 0.5s;
}
.ask:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.icon-ask {
  height: 100%;
  width: 100%;
}
.container {
  justify-content: center;
  height: 90%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
.t-container {
  height: 16vh;
  width: 90vw;
  background-color: rgb(255, 166, 0);
  border-radius: 10px 10px 0 0;
  margin: 1%;
  font-family: 'Fredoka One', cursive;
  display: grid;
  place-items: center;
  margin-bottom: 0;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#text-area-r {
  padding: 2px;
  height: 30vh;
  width: 90vw;
  background-color: rgb(224, 216, 205);
  border-radius: 0px 0px 10px 10px;
  outline: none;
  border: none;
}
#text-area-r:focus {
  border: 1px solid rgb(255, 166, 0);
}
.resposta-screen {
  background-color: rgb(81, 81, 218);
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  min-width: 20%;
  width: fit-content;
  padding: 0.7%;
  margin: 1%;
}
.thank {
  margin: 0px;
  color: white;
}
p {
  margin: 0;
}
.yellow {
  color: yellow;
}
.back {
  position: absolute;
  top: 0;
  left: -1.5%;
  height: 7%;
  width: 7%;
}
.btn-sendRes {
  width: auto;
  border: none;
  background-color: green;
  padding: 2px;
  border-radius: 0 0 10px 10px;
  width: 10%;
  min-width: fit-content;
}
nav {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
}
.btn-login {
  position: absolute;
  right: 0;
  margin-right: 1%;
  border-radius: 0 40% 0 40%;
  padding: 10px;
  border: 2px solid rgb(255, 166, 0);
  width: 10%;
  background-color: rgb(255, 255, 0);
}